<!--The content below is only a placeholder and can be replaced.-->
<div class="container">


  <nav class="navbar navbar-expand-md fixed-top navbar-dark bg-dark">
    <a class="navbar-brand" href="#">Movie Farm</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarsExampleDefault" aria-controls="navbarsExampleDefault"
      aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarsExampleDefault">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item active">
          <a class="nav-link" routerLink="search">Search</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="list">List</a>
        </li>
      </ul>
    </div>
  </nav>
  <br>
  <h1>Powered by the movie
    <strong>DB</strong>
  </h1>
  <p style="text-align:center;">
    <img src="https://pbs.twimg.com/profile_images/789117657714831361/zGfknUu8.jpg" data-toggle="modal" data-target="#myModal"
      class="img-fluid" alt="wider">
  </p>
</div>


<router-outlet></router-outlet>